# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (optional)
.vscode/

# macOS / Linux system files
.DS_Store
